@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:wght@400;700&display=swap');

html {
  font-size: 100%;
  background-color: #fbf7f4;
}

/*universal reset*/
* {
  margin: 0px;
  padding: 0px;
}
/*strips the bullet points off the list*/
ul {
  list-style-type: none;
}
/*flexbox for layout*/
.row {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: auto;
  flex-direction: column;
}]
.row img {
  max-width: 100%;
  height: auto;

}
figure {
  display: flex;
  width: 100%;
  height: auto;
  /* justify-content: space-between; */
  margin: auto;
  flex-direction: column;
}
.hero {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  border-bottom: thin solid #333;
  margin-bottom: 1rem;
  
}
/*the star of the show*/
.item {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}
.item img {
  max-width: 100%;
  height: auto;
}
#upper {
  display: flex;
  flex-wrap: wrap;
    max-width: 920px;
    margin:auto;
    justify-content: center;
}
#upper li {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 200px;
  height: 250px;
  margin:10px;
    text-align:center;
}
#upper a {
    text-decoration: none;
  text-transform: uppercase;
  font-size: .75rem;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  height: 40px;
  display: block;
  line-height: 40px;
  text-align: center;
    color:#333;
    transition: all .5s ease-in-out;
}
#upper a:hover {
text-shadow: 13px 13px 0px #E2BD17;
  -moz-transform: scale(0.9);
-webkit-transform: scale(0.9);
-o-transform: scale(0.9);
-ms-transform: scale(0.9);
transform: scale(0.9);
}

#upper img {border-radius:50%;
  width:100%;max-width:100%; height:auto;}

    .share {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    margin: auto;
  }
  .sharelinks {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    float: left;
    width: 90%;
    max-width: 800px;
    margin: auto;
  }

/*mobile first*/
/* .current {
  background: #f2f2f2;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }/*for demo purposes, restyle as you see fit*/


  body {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    line-height: 1.75;
  }

  p {margin-bottom: 1rem;}

  h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3;
  }

  h1 {
    margin-top: 10;
    margin: 100;
    font-size: 2rem;
    text-align: center;
  }

  h2 {font-size: 2.3rem; font-weight:400}

  h3 {font-size: 1.7rem;}

  h4 {font-size: 1.563rem;}

  h5 {font-size: 1.25rem;
  text-align: center;}

  small, .text_small {font-size: 0.8rem;}

.intro { /*for demo purposes, restyle as you see fit*/
  font-size: 1.25rem;
  /* max-width: 600px; */
}
/*drop cap*/
p.intro:first-letter { /*for demo purposes, restyle as you see fit*/
  color: #903;
  float: left;
  font-family: 'Cabin', sans-serif;
  font-size: 4rem;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
/*for demo purposes, restyle as you see fit*/
blockquote {
  font-style: italic;
  font-size: 1.5rem;
  border-left: 4px solid #903;
  padding-left: 10px;
}
/*DO NOT CHANGE ANYTHING IN THE HEADER*/
header {
  background-image: url("../img/header-background.png");
  min-height: 100px;
  display: flex;
  flex-direction: column;
  border-bottom: thin solid #333;
}
#logo, #logo_white {
  max-width: 200px;
  margin: auto;
  padding: 20px;
}
header > nav {
  border-top: 8px solid black;
  background: white;
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 800px;
  margin: auto;
}
nav li {
  width: 100%;
  border-right: 1px solid #333;
}
nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: .75rem;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  height: 40px;
  display: block;
  line-height: 40px;
  text-align: center;
  border-top: 8px solid black;
  margin-top: -8px;
}
nav a:hover {
  border-top: 8px solid #EB4A18;
}
/*END HEADER*/
.profile {
  border-radius: 400px;
}


/*the nav with links to the other projects*/
/*for demo purposes, restyle as you see fit*/

@media screen and (max-width:700px) {
.global {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: space-around;
  justify-content: center;
}
.global img {
  display: none;
}
.global li {
  width: 20%;
  margin: 5px;
  text-align: center;
}
h5 {
  font-size: .75rem;
}

}



/* End mobile query */

/*DO NOT CHANGE ANYTHING IN THE FOOTER*/
footer {
  background: #2C2029;
  color: #8E828B;
  font-family: 'Lato', sans-serif;
  padding-bottom: 30px;
}
.address {
  margin-top: 30px;
  width: 70%;
  font-size: .75rem;
  margin: auto;
}
#social {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  width: 70%;
  margin: auto;
}
#lower ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  align-items: center;
  margin: auto;
  border-top: thin solid #8E828B;
  padding-top: 20px;
}
#lower a {
  color: #8E828B;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  font-size: .75rem;
}


/*larger screens*/
@media screen and (min-width:700px) {
  html {
    font-size: 125%;
  }

  /*FLEXBOX FOR LAYOUT*/
  .row {
    display: flex;
    width: 100%;
    max-width: 800px;
    padding: .75rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 1rem;
    flex-direction: row;
  }
  .hero {
    /* display: flex;
    width: 100%;
    height: auto;
    padding: .75rem;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 1rem; */
    background-image: url("../img/hero.jpg");
    background-size: cover;
    min-height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: thin solid #333;
    margin-bottom: 1rem;
  }

  /*header*/
  #logo, #logo_white {
    max-width: 200px;
    margin: auto;
    padding: 2rem;
  }
  header > nav {
    border-top: 8px solid black;
    background: white;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 900px;
    margin: auto;
  }
  nav li:first-child {
    border-left: 1px solid #333;
  }
  nav li {
    width: 20%;
    border-right: 1px solid #333;
  }


/* New Bottom nav for desktop */

  .global {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items: space-around;
    justify-content: center;

  }
  .global li {
    width: 65px;
    height: 65px;
    margin: 10px 10px 100px 10px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-out;
    border-radius: 50px;
  }
  .global img {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.4s ease-out;
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
    border-radius: 50px;
  }
  .current img {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.4s ease-out;
    border-radius: 16px;
  }
  .animate-text {
    opacity: 0;
    transition: all 0.6s ease-in-out;
  }
  .global li:hover img {
    border-radius: 8px;
  }
  .global li:hover {
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64);
    transform: scale(2);
    margin: 50px 50px 80px 50px;
  }
  .global h5 {
    padding-top: 45px;
    font-size: 10px;
    margin: 20px 0 0 0;
    transform: translateX(100px);
    color: #1c1e22;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  }
  .global li:hover .animate-text {
    transform: translateX(0);
    opacity: 1;
  }

  h5 {font-size: .75rem;
    text-align: center;}

































  /*footer*/
  #social {
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
  }
  #lower ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    border-top: thin solid #8E828B;
    padding-top: 20px;
  }
}
