@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');
html {
  font-size: 100%;
}

/*universal reset*/
* {
  margin: 0px;
  padding: 0px;
}
/*strips the bullet points off the list*/
ul {
  list-style-type: none;
}
/*flexbox for layout*/
.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: auto;
  flex-direction: column;
}
/*the star of the show*/
.item {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}

/*mobile first*/
/* .current {
  background: #f2f2f2;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }/*for demo purposes, restyle as you see fit*/
 */

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
.intro { /*for demo purposes, restyle as you see fit*/
  font-size: 1.25rem;
  /* max-width: 600px; */
}
/*drop cap*/
p.intro:first-letter { /*for demo purposes, restyle as you see fit*/
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 4rem;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
/*for demo purposes, restyle as you see fit*/
blockquote {
  font-style: italic;
  font-size: 2rem;
  border-left: 4px solid #903;
  padding-left: 10px;
}
/*DO NOT CHANGE ANYTHING IN THE HEADER*/
header {
  background-image: url("../img/header-background.png");
  min-height: 100px;
  display: flex;
  flex-direction: column;
  border-bottom: thin solid #333;
}
#logo, #logo_white {
  max-width: 200px;
  margin: auto;
  padding: 20px;
}
header > nav {
  border-top: 8px solid black;
  background: white;
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 800px;
  margin: auto;
}
nav li {
  width: 100%;
  border-right: 1px solid #333;
}
nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: .75rem;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  height: 40px;
  display: block;
  line-height: 40px;
  text-align: center;
  border-top: 8px solid black;
  margin-top: -8px;
}
nav a:hover {
  border-top: 8px solid #EB4A18;
}
/*END HEADER*/




/*the nav with links to the othr projects*/
/*for demo purposes, restyle as you see fit*/
.global {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.global li {
  width: 65px;
  height: 65px;
  margin: 10px 10px 100px 10px;
  display: inline-block;
  background-size: cover;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
  border-radius: 50px;
}
.global img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all 0.4s ease-out;
  border-radius: 50px;
}
.current img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all 0.4s ease-out;
  border-radius: 16px;
}
.animate-text {
  opacity: 1;
  transition: none;
}
.global li:hover img {
  border-radius: 8px;
}
.global li:hover {
  box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64);
  transform: scale(2);
  margin: 50px 50px 80px 50px;
}
.global h2 {
  padding-top: 45px;
  font-size: 10px;
  margin: 20px 0 0 0;
  transform: translateX(100px);
  color: #1c1e22;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}
.global li:hover .animate-text {
  transform: translateX(0);
  opacity: 1;
}



/*DO NOT CHANGE ANYTHING IN THE FOOTER*/
footer {
  background: #2C2029;
  color: #8E828B;
  font-family: 'Lato', sans-serif;
  padding-bottom: 30px;
}
.address {
  margin-top: 30px;
  width: 70%;
  font-size: .75rem;
  margin: auto;
}
#social {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  width: 70%;
  margin: auto;
}
#lower ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  align-items: center;
  margin: auto;
  border-top: thin solid #8E828B;
  padding-top: 20px;
}
#lower a {
  color: #8E828B;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  font-size: .75rem;
}
/*larger screens*/
@media screen and (min-width:700px) {
  html {
    font-size: 125%;
  }
  /*FLEXBOX FOR LAYOUT*/
  .row {
    display: flex;
    width: 100%;
    max-width: 800px;
    padding: .75rem;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 1rem;
    flex-direction: row;
  }
  /*header*/
  #logo, #logo_white {
    max-width: 200px;
    margin: auto;
    padding: 2rem;
  }
  header > nav {
    border-top: 8px solid black;
    background: white;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 900px;
    margin: auto;
  }
  nav li:first-child {
    border-left: 1px solid #333;
  }
  nav li {
    width: 20%;
    border-right: 1px solid #333;
  }
/* bottom nav for desktop */
  .global {
    width: 100%;
    align-items: space-around;
    justify-content: center;
    max-width: 800px;
  }
  .animate-text {
    opacity: 0;
    transition: all 0.6s ease-in-out;
  }

  /*footer*/
  #social {
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
  }
  #lower ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    border-top: thin solid #8E828B;
    padding-top: 20px;
  }
}